<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <%= JSON.stringify(userEdit) %>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/create" >Create User</a>
      </div>

      <div class="form">
        <form action="/update-user" method="post">
            <fieldset>
                <legend>Form update user</legend>
                <div class="input-group d-none">
                    <label for="">Id</label>
                    <input name="id" type="text" value="<%=userEdit.id %>">
                </div>
                <div class="input-group">
                    <label for="">Email</label>
                    <input name="email" type="text" value="<%=userEdit.email %>">
                </div>
    
                <div class="input-group">
                    <label for="">Name</label>
                    <input type="text" name="myName" value="<%=userEdit.name%>" >
                </div>
    
                <div class="input-group">
                    <label for="">City</label>
                    <input type="text" name="city" value="<%=userEdit.city %>">
                </div>
                <div>
                    <button> Save</button>
                </div>
            </fieldset>
        </form>
        

      </div>
</body>
</html>